In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("family.csv")
print(df)

    Name  Gender  MonthlyIncome
0   Shah    Male       114000.0
1   Vats    Male        65000.0
2   Vats  Female        43150.0
3  Kumar  Female        69500.0
4   Vats  Female       155000.0
5  Kumar    Male       103000.0
6   Shah    Male        55000.0
7   Shah  Female       112400.0
8  Kumar  Female        81030.0
9   Vats    Male        71900.0

In [3]:
#a
print("The familywise gross monthly income is:")
df.groupby(['Name'])['MonthlyIncome'].sum()

The familywise gross monthly income is:

Name
Kumar    253530.0
Shah     281400.0
Vats     335050.0
Name: MonthlyIncome, dtype: float64

In [4]:
#b
print("Highest monthly income in each family:")
df.groupby(['Name'])['MonthlyIncome'].max()

Highest monthly income in each family:

Name
Kumar    103000.0
Shah     114000.0
Vats     155000.0
Name: MonthlyIncome, dtype: float64

In [5]:
#c
print("Members with monthly income more than Rs. 60000:")
df[df["MonthlyIncome"]>60000]

Members with monthly income more than Rs. 60000:

    Name  Gender  MonthlyIncome
0   Shah    Male       114000.0
1   Vats    Male        65000.0
3  Kumar  Female        69500.0
4   Vats  Female       155000.0
5  Kumar    Male       103000.0
7   Shah  Female       112400.0
8  Kumar  Female        81030.0
9   Vats    Male        71900.0

In [6]:
#d
print("The average monthly income of the female members is Rs.",
     df[df["Gender"]=="Female"]["MonthlyIncome"].mean())

The average monthly income of the female members is Rs. 92216.0